<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Calorie Tracking Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foodstyles.css' %}">
</head>
<body>
    <header>
        <h1>Your Calorie Tracking Dashboard</h1>
    </header>
    <nav>
        <!-- Add navigation links or menu items relevant to your dashboard -->
        <a href="/dashboard">Dashboard</a> |
        <a href="/foodlog">Food log</a> |
        <a href="#">Settings</a> |
        <a href="#">Logout</a>
    </nav>
    <main>
        <h2>Welcome, {{ Username }}!</h2>
        <div class="calorie-summary">
            <div>
                <h3>Today's Calories</h3>
                <p>{Cal today}</p>
            </div>
            <div>
                <h3>Remaining Calories</h3>
                <p>[Calories remaining today]</p>
            </div> 
            <div>
                <h3> Weight trend </h3>
                <p> The weight trend will go here</p>
            </div>
        </div>
        <!-- Add more content and features specific to your calorie tracking dashboard -->
    </main>
    <footer>
        <p>&copy; 2024 Your Calorie Tracking App</p>
    </footer>
</body>
<script>

</script>
</html>
