<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Calorie Tracking Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foodstyles.css' %}">
    <link rel=”stylesheet” href=”https://unpkg.com/material-components-web/dist/material-components-web.min.css">
</head>
<body>
    <header>
        <h1>Your Calorie Tracking Dashboard</h1>
    </header>
    <nav>
        <!-- Add navigation links or menu items relevant to your dashboard -->
        <a href="dashboard">Dashboard</a> |
        <a href="foodlog">Food log</a> |
        <a href="settings">Settings</a> |
        <a href="logout">Logout</a>
    </nav>
    <main>
        <h2>Welcome, {{ Username }}!</h2>
        <div class="calorie-summary">
            <div id="weightTrend">
                <h3> Weight trend </h3>
                <canvas id="weightChart" style="width:100%;max-width:500px;height:200"></canvas>
            </div>
        </div>
        <!-- Add more content and features specific to your calorie tracking dashboard -->
    </main>
    <footer>
        <p>&copy; 2024 Your Calorie Tracking App</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard.js' %}"> </script>
</html>
