<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foodstyles.css' %}">
    <style>
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        form {text-align: center;}
        button {padding: 5px;
        }
        </style>
        
</head>
<body>
    <header>
        <h1>Your Calorie Tracking Dashboard</h1>
    </header>
    <nav>
        <!-- Add navigation links or menu items relevant to your dashboard -->
        <a href="dashboard">Dashboard</a> |
        <a href="foodlog">Profile</a> |
        <a href="settings">Settings</a> |
        <a href="logout">Logout</a>
    </nav>

<h2> Please fill out this form to update your goal and target weekly weight change. </h2> <br>
<form id="settings-form" method="post">
    {% csrf_token %}

    <div>
        <label for="{{ form.goal.id_for_label }}">Select Goal:</label>
        {% for goal_choice in form.fields.goal.choices %}
            <button type="button" class="goal-btn {% if form.initial.goal == goal_choice.0 %}selected{% endif %}" data-goal="{{ goal_choice.0 }}">{{ goal_choice.1 }}</button>
        {% endfor %}
        <input type="hidden" name="{{ form.goal.name }}" id="{{ form.goal.id_for_label }}" value="{{ form.initial.goal }}">
    </div>

    <!-- {{ form.tdee.label_tag }} {{ form.tdee }}
    {{ form.pRatio.label_tag }} {{ form.pRatio }}-->
    {{ form.weekly_target.label_tag }} {{ form.weekly_target }} 
    <button type="submit">Save Settings</button> 
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Set initial selected state based on the hidden input value
        updateSelectedState($('#settings-form input[name="{{ form.goal.name }}"]').val());

        // Handle button clicks
        $('.goal-btn').click(function () {
            var goal = $(this).data('goal');
            $('#settings-form input[name="{{ form.goal.name }}"]').val(goal);
            updateSelectedState(goal);
        });

        function updateSelectedState(goal) {
            $('.goal-btn').removeClass('selected');
            $('.goal-btn[data-goal="' + goal + '"]').addClass('selected');
        }

        // Get current settings on page load
        //$.get('settings', function (data) {
          //  $('#settings-form').html(data);
        //});

        // Handle form submission with AJAX
        $('#settings-form').submit(function (event) {
            event.preventDefault();
            $.post('/settings/', $(this).serialize(), function (data) {
                $('#settings-form').html(data);
            });
        });
    });
</script>
