.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
caloricology/settings.py
caloricology/root@164.92.83.178
base/migrations/
accounts/migrations/
base/migrations
accounts/migrations
base/__pycache__
get_updates.sh
base/keys.py
base/templates/base/analytics.html
accounts/forms.py
accounts/signup.html
