<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <meta
    name="description"
    content="A nutrition coaching and calorie counting application "
  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foodstyles.css' %}">
    <link rel=”stylesheet” href=”https://unpkg.com/material-components-web/dist/material-components-web.min.css">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <nav>
        <a href="foodlog">Food Log</a> |
        <a href="settings">Profile</a> |
        <a href="logout">Logout</a>
    </nav>
    <main>
        <h2>Welcome, {{ Username }}!</h2>
        <div class="calorie-summary">
            <div id="weightTrend">
                <h3> Weight Trend </h3>
                <canvas id="weightChart" style="width:100%;max-width:500px;height:100px"></canvas>
            </div>
            <div id="td">
                <h3> TDEE:</h3>
            </div>
        </div>
        <h2> Instructions</h2>
        Before beginning logging food please fill out your current estimated daily energy expenditure (TDEE) and weekly weight change targets in kg. <br>
        If you do not have an estimated energy expenditure, there are several calculators available online. <br>
        To log a food, you must first supply a name for the food as well as caloric information per 100g. <br>
        You may then repeatedly log it from the option menu by providing the amount of food consumed in grams. <br>
        The website will keep a running average of your weight changes smoothed out to avoid daily fluctuations. <br>
        If there is sufficient data in the last 3 weeks, it will provide an updated daily energy expenditure, otherwise it will fall back to the energy expenditure provided.
    </main>
    <footer>
        <p>&copy; Footer </p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard.js' %}"> </script>
</html>
