<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Food Log</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foodstyles.css' %}">
    <link rel=”stylesheet” href=”https://unpkg.com/material-components-web/dist/material-components-web.min.css">
</head>
<body>
    <header>
        <h1>Food log</h1>
    </header>
    <nav>
        <!-- Add navigation links or menu items relevant to your dashboard -->
        <a href="dashboard">Dashboard</a> |
        <a href="settings">Profile</a> |
        <a href="logout">Logout</a>
    </nav>
    <main>
        
        <div id="navigation">
            <button onclick="navigateDay(-1)">Previous Day</button>
            <span id="current-day">[Current Date]</span>
            <button onclick="navigateDay(1)">Next Day</button>
        </div>

        <div class="calorie-summary">
            <div id = "consumed-calories">
                <h3>Consumed Calories</h3>
            </div>
            <div id = "remaining-calories">
                <h3>Remaining Calories</h3>
            </div>
        </div>

        <h3>Food Log</h3>
        <div id="food-log">
            <!-- Food log content will be dynamically populated here -->
        </div>

    </main>
    <div id="fab-container">
        {% verbatim %}
        <button id="fab" onclick="openPopupForm()">+</button>
        {% endverbatim %}
    </div>

    <!-- Popup Form -->
    <div id="popup-form">
        <div id="close-btn" onclick="closePopupForm()"> x </div>
            <label>Select an option:</label>
            <button onclick="unhideButtons(true)"> Food</button>
            <button onclick="unhideButtons(false)"> Weight</button>
            
            <div id="form buttons">
            <button id="commonFood" onclick="loadForm('commonfood', event)" hidden>Log Database Food</button>
            <button id="userFood" onclick="loadForm('addfood', event)" hidden>Log Created Food</button>
            <button id="weight" onclick="loadForm('weight', event)" hidden>Add Weight</button>
            <button id="createFood" onclick="loadForm('createfood', event)" hidden> Create New Food</button>
            </div>
            <!-- Container for the dynamic form with a unique ID -->
            <div id="dynamic-form-container"style="height: 200px; overflow-y: auto;">
                <!-- The form will be loaded here based on the option clicked -->
            </div>
    </div>
<script src="{% static 'foodlog.js' %}"> </script>
<script src="{% static 'commonfood.js' %}"> </script>
</html>
