<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Settings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'foodstyles.css' %}">
    <style>
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        form {text-align: center;}
        button {padding: 5px;
        }
        </style>
        
</head>
<body>
    <header>
        <h1>Your Calorie Tracking Dashboard</h1>
    </header>
    <nav>
        <!-- Add navigation links or menu items relevant to your dashboard -->
        <a href="dashboard">Dashboard</a> |
        <a href="foodlog">Profile</a> |
        <a href="settings">Settings</a> |
        <a href="logout">Logout</a>
    </nav>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>    
<h2> Please fill out this form to update your goal and target weekly weight change. </h2> <br>
<form id="settings" method="post", target="dummyframe">
    {% csrf_token %}
    {{ form.tdee.label_tag }} {{ form.tdee }}

    <!-- {{ form.pRatio.label_tag }} {{ form.pRatio }}-->

    {{ form.weekly_target.label_tag }} {{ form.weekly_target }} 
    <button type="submit">Save Settings</button> 
</form>

<p>
    <button onclick="window.location.href='download'">Download Weight and total Caloric Data </button> 
</p>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
